:root{
    --HeaderBgColor:#202040;
    --LogoColor:#fff;
    --linkHoverColor:#ff6363;
    --buttonHover:#ff6363;
    --btnBorder:rgba(255, 255, 255, 0.156);
    --textColor:#fff;

}
:root{
    --bannerBg:#202040;
    --signUp:#ff6363;

}
:root{
   --awesome_feautres:#FF6363;
   --cool_features:#000839;
   --features_text:#944839;
   --customertxt:#000839;
   --customerAuthorName:#000839;

}
:root{
    --footerBg:#F2F5F9;
    --footerlinkhover:#ff6363;
}